@import '~bootstrap-material-design/scss/bootstrap-material-design';
@import '~bootstrap/scss/bootstrap';
@import 'show';
@import 'new';
@import '~csshake/scss/csshake';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

#wrapper{
  background-color: #fff;
  background-image: url("/img/nami2.jpg");
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center; 
}
